<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/carrr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Supplier"
            android:parentActivityName=".Signup"
            android:label="Supplier's account"/>
        <activity
            android:name=".Mechanic"
            android:label="Mechanic&apos;s account"
            android:parentActivityName=".Signup" />
        <activity
            android:name=".User"
            android:label="User&apos;s account"
            android:parentActivityName=".Signup" />
        <activity
            android:name=".Verification"
            android:label="Phone Verification"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Sms"
            android:label="Enter verification code"
            android:parentActivityName=".Verification" />
        <activity
            android:name=".Incorrectcode"
            android:label="Enter verification code"
            android:parentActivityName=".Verification" />
        <activity
            android:name=".Signup"
            android:label="Chose Account"
            android:parentActivityName=".Sms" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".navigationdrawer" />
    </application>

</manifest>